@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
html,
body {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background-image: url("/img/bg_main.webp");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover; /* cho'zilmay, butun ekranni qoplaydi */
  background-repeat: no-repeat;
}
header {
  /* border: 2px solid red; */
  position: sticky;
  backdrop-filter: blur(10px); /* orqa fonni blur qilish */
  -webkit-backdrop-filter: blur(10px); /* Safari uchun */
  top: 0;
  left: 0;
  width: 100%; /* Butun ekran bo‘ylab */
  z-index: 1000; /* ustiga chiqib turadi */
  padding: 5px 0;
}
.container {
  margin-top: 80px;
}
.nav__box {
  /* position: fixed; */
  padding: 5px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.logo {
  height: 40px;
  width: 40px;
}
.about-us {
  cursor: pointer;
}
.logo__title {
  font-size: 28px;
  font-weight: bold;
  background: linear-gradient(45deg, #425de3, #1044ef);
  -webkit-background-clip: text; /* Safari, Chrome */
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Firefox */
  color: transparent;
}
.links__item {
  color: rgb(36, 38, 40);
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 1px;
}
.links__item:hover {
  color: #5db1f5;
  display: inline-block;
  transform: scale(1.1);
  cursor: pointer;
}
.links__item-white {
  color: white;
}
.links__item-black {
  color: black;
}
.links__item-green {
  color: chartreuse;
}
/* Main section */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 250, 250, 0.5); /* qoraroq fon */
  z-index: 999; /* modalning orqasida turadi */
}
.modal-about {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000; /* overlaydan yuqorida */
  background-color: #212121;
}
.close-btn {
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  color: rgb(1, 104, 1);
}
h1 {
  font-weight: 900;
}
.registration-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #0f33e8;
  border: 2px solid #0f33e8;
  border-radius: 8px;
  padding: 12px 10px;
  width: 220px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.registration-button:hover {
  border: 2px solid #0f33e8;
  /* background-color: none; */
  background: linear-gradient(to-right, red, blue);
}
.frame-wrapper {
  display: flex;
  position: relative;
  height: 504px;
  width: 600px;
  top: -68px;
}
.content {
  height: 500px;
  width: 240px;
  background-image: url("/img/chat-bg.png");
  border-radius: 20px;
}
.iphone-frame {
  position: absolute;
  width: 650px;
  left: -190px;
  top: -55px;
  height: 610px;
}
.text-container {
  position: relative;
  right: -20px;
}
.app-description {
  z-index: 20;
  position: absolute;
  width: 400px;
}
.app-description h2 {
  color: #0c0c0e;
  font-size: 30px;
  font-weight: 800;
}
/* /Main section */
/* Features */
.features {
  display: flex;
}
.features__card {
  width: 450px;
  border: 0.2px solid black;
  border-radius: 8px;
  overflow: hidden;
  background-color: #212121;
}
.features__card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 320px;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
}
.features__card img:hover {
  transform: scale(1.02);
  /* object-fit: contain; */
}
.card__text {
  padding: 0 10px 0 10px;
  color: white;
}
/* /Features */
/* About app */
.about__app-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile_img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid #0f33e8;
  border-radius: 50%;
}
.about__app-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__app-text {
  font-weight: 500;
}
.icon-box {
  width: 50px;
}
.icon-box i {
  text-align: start;
  font-size: 30px;
}
.like-icon__liked {
  color: red;
  display: block;
}
/* feedback modal */
.title-box {
  background-color: #0d6efd;
  border: 2px solid #0d6efd;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.overlay-middle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 250, 250, 0.5); /* qoraroq fon */
  z-index: 999; /* modalning orqasida turadi */
}
.feedback-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 20px; */
  height: 300px;
  border-radius: 10px;
  z-index: 999; /* overlaydan yuqorida */
  background-color: #212121;
}
.feedback-textarea::placeholder {
  padding: 10px;
}
.feedback-textarea:focus {
  padding: 10px;
}
#textarea {
  outline: none;
  resize: none;
  border: 2px solid #0d6efd;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: 400;
}
.send-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  border-top-left-radius: none;
  border-top-right-radius: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  color: black;
  width: 100%;
}
/* loadeer */
.loader {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.sent-icon {
  width: 28px;
  height: 28px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* /About app */
/* Social networks */
.social-img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}
#instagram-logo {
  border-radius: 12px;
}
#instagram-btn,
#telegram-btn,
#youtube-btn {
  display: inline-block; /* Button inline element kabi joylashadi */
  font-weight: 400; /* Matn qalinligi normal */
  line-height: 1.5; /* Qator balandligi */
  text-align: center; /* Matnni markazga */
  text-decoration: none; /* Ostiga chizilmaydi */
  vertical-align: middle; /* Vertikal hizalanadi */
  cursor: pointer; /* Sichqoncha ustiga borganda "pointer" */
  -webkit-user-select: none; /* Matn belgilanmaydi */
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem; /* Ichki bo‘shliq (6px 12px) */
  font-size: 1rem; /* 16px */
  border-radius: 0.375rem; /* Burchaklarni yumaloqlash (6px) */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Hover/active animatsiyalar */
}
#instagram-btn {
  color: white;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
#telegram-btn {
  color: white;
  background-color: #0d6efd;
}
#youtube-btn {
  color: black;
  background-color: red;
}
/* /Social networks */
/* Footer */
/* Right side styles */
.footer-nav {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}
.footer-nav a {
  text-decoration: none;
  border: 2px solid blue;
  padding: 5px 8px;
  width: 80px;
  text-align: center;
}
.footer-nav a:hover {
  color: white;
  text-decoration: overline;
  border: 2px solid white;
}
.logo-footer {
  display: flex;
  align-items: center;
}
#footer-logo {
  height: 120px;
  width: 120px;
}
#footer-logo__title {
  font-size: 55px;
}
/* /Right side styles */
/* Left side styles */
.social-networks {
  width: 210px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.social-networks i {
  font-size: 30px;
}
.social-networks i:hover {
  display: inline-block;
  transform: scale(1.1);
}
#footer-instagram {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
#footer-telegram {
  background: linear-gradient(45deg, #229ed9, #2aabee);
}
#footer-youtube {
  background: linear-gradient(45deg, #ff0000, #cc0000, #ff4b2b);
}
#footer-instagram,
#footer-telegram,
#footer-youtube {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-email {
  width: 420px;
}
.footer-input:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}
/* Extra tools */
.red {
  border: 2px solid red;
}
.blue {
  border: 2px solid blue;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.blue-text {
  color: rgb(0, 149, 255);
  letter-spacing: 2px;
}
